<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Detalle</title>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
</head>
<body>


	<div class="card offset-lg-3 mt-5" style="width:1000px">
		<h2 class="card-header primary-text">Videojuego</h3>
		<div class="card-body">
			<h5 class="card-title"><strong>Nombre: </strong> <span th:text="${videojuego.nombre}"></span></h5>
			<h5 class="card-title"><strong>Genero: </strong> <span th:text="${videojuego.genero}"></span></h5>
			<h5 class="card-title"><strong>Precio: </strong> <span th:text="${videojuego.precio}"></span></h5>
			<h5 class="card-title"><strong>Pegi: </strong> <span th:text="${videojuego.pegi}"></span></h5>			
			<select class="form-control" name="sucursal">
                <option th:each="sucursal : ${lista2}" name="sucursal" th:text="${sucursal.numSucursal}"></option>
            </select>
		</div>
		
	
	</div>
	
	
	<script src="@{/bootstrap/js/bootstrap.min.js}"></script>    
	
</body>
</html>